body {
  background-color:#8D99AE;

}
.titulo{
    font-size:20px
}
#d0{
    background-color:#BCC1BA;
}
#d1{
    background-color:#6D8EA0;
    margin-left:0%;
    margin-right:20%;
}
#d2{
    background-color:#6D8EA0;
     margin-left:0%;
    margin-right:20%;
}
#d3{
    background-color:#6D8EA0;
     margin-left:0%;
    margin-right:20%;
}
#d4{
    background-color:#6D8EA0;
     margin-left:0%;
    margin-right:20%;
}
#d5{
    background-color:#6D8EA0;
     margin-left:0%;
    margin-right:20%;
}

